# test and env
venv
htmlcov
.coverage
.idea
.env

# Caches
*.pyc
__pycache__
__pycache__/*.pyc
app/__pycache__
tests/__pycache__
app/api/__pycache__
app/parser/__pycache__

# repo and key
map_api_key.txt
heroku_repo.txt

# jquery
jquery-3.5.1.js
jquery-3.5.1.min.js
