body {
    padding: 1em;
    background-color: #cccccc;
}


/* Header */
header {

}

#logo {
    background-position: center; /* accordingly to bootstrap grid */
    background-image: url("../img/logo_bot.png");
    background-repeat: no-repeat;
    height: 100px;
}


#headline {
    font-size: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-shadow: 2px 2px 2px #000000;
    letter-spacing: 2px;
    word-spacing: 2px;
}

#title {
    padding: 5px 5px 5px 5px;
    font-size: 2em;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 6px;
    word-spacing: 1.6px;
    color: #1b1856;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
}

/* Chat */

#chatwindow, #ajax-loader, .user, .map, .grandpybot, #chatform, input {
    border-radius: 1px;
}

#chatwindow, .map {
    border: solid 1px black;
}

#chatwindow {
    opacity: 1;
    background-color: #a1d9c5;
    height: 20em;
    margin: 1.2em 1em 1em 0;
    overflow: auto;
    font-size: 1.3em;
    font-family: arial;
    border-radius: 0.5em;
}

#ajax-loader {
    width: 100%;
    margin: 1px;
}

.user, .grandpybot {
    width: 75%;
    margin: 10px;
}

.user {
    position: relative;
    left: 22%;
    text-align: right;
}

.map {
    width: 75%;
    height: 180px;
    margin: 10px;
    border-radius: 0.2em;
}

.grandpybot {
    opacity: 1;
    font-family: arial;
    padding: 5px;
    text-align: left;
}

input, .user {
    background-color: antiquewhite;
    padding: 5px;
    color: #520b52;
    box-shadow: 1px 2px 2px rgba(245,245,220,.8);
    border-radius: 0.2em;
    /*border: solid 0.1em darkslategrey;*/
}

/*input, .user, .user_title {
    border: solid 0.1em darkslategrey;
}

 */

input, .grandpybot {
    padding: 5px;
    color: #00003d;
}

.grandpybot_title {
    padding: 5px;
    font-weight: bold;
    color: #00003d;
}

.user_title {
    padding: 5px;
    font-weight: bold;
    text-align: right;
    position: relative;
    color: #520b52;
}

#chatform {
    margin: 2em 0 2em 0;
    font-size: 1.3em;
}

input {
    padding: 5px;
}

#submit {
    /* got on https://charliepark.org/bootstrap_buttons */
  background-color: hsl(166, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#21b492", endColorstr="#115e4c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#21b492), to(#115e4c));
  background-image: -moz-linear-gradient(top, #21b492, #115e4c);
  background-image: -ms-linear-gradient(top, #21b492, #115e4c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21b492), color-stop(100%, #115e4c));
  background-image: -webkit-linear-gradient(top, #21b492, #115e4c);
  background-image: -o-linear-gradient(top, #21b492, #115e4c);
  background-image: linear-gradient(#21b492, #115e4c);
  border-color: #115e4c #115e4c hsl(166, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
/* Footer zone */
footer {
    /*
    padding: 3em 0 1em 0;
    */

}

#button_info {
    margin-top: 1em
}

.container {
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
}


#crossed-out
{
    text-decoration: line-through;
}



/* MEDIA QUERIES  */

/* small devices like smartphones */
@media all and (max-width: 480px) {
    /* Header zone */
    #logo {
        background-position: center; /* accordingly to bootstrap grid */
        background-image: url("../img/logo_bot.png");
        background-repeat: no-repeat;
        height: 100px;
    }

    #user_query {
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    #submit {
        font-size: 1.2em;
        margin-top: 1em;
    }

    #chatwindow {;
        height: 440px;
        margin: 0;
    }

    #title_catchphrase {

    }

     .user, .grandpybot {
        font-size: 0.9em;
    }

    .user {
        left: 20%;
    }

    .map {
        height: 120px;
    }


    #chatform {
        margin: 10px 0 10px 0;
        font-size: 1.2em;
    }

    #submit {
        font-size: 1.2em;
    }

    footer {
        margin-top: 10px;
    }
}

/* margin when "Envoyer" button go under form bar */
@media all and (min-width: 480px) and (max-width: 767px) {
    #submit {
        margin-top: 1.2em;
    }
}

/* tablet or moderate size computer screen (lt 1200) */
@media all and (min-width: 700px) and (max-width: 1899px) {


    #chatwindow {
        margin-top: 2em;
        height: 580px;
    }

    #title_catchphrase {
        background-color: #d5f7ff;
        padding-bottom: 1em;
        border-radius: 0.5em;
        border: solid 1px darkslategrey;
    }
}

/* for computer screen */
@media all and (min-width: 1899px) and (max-width: 1920px)  {

    #chatwindow {
        margin-top: 2em;
        height: 600px;
    }

    #title_catchphrase {
        background-color: #d5f7ff;
        padding-bottom: 1em;
        border-radius: 0.5em;
        border : solid 1px darkslategrey;
    }
}